name: dist ffi

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  dist:
    if: github.ref_type == 'tag'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-22.04, ubuntu-22.04-arm ]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: hustcer/setup-nu@v3
        with:
          version: '0.103.0'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}
      - if: "matrix.os == 'macos-latest'"
        run: |
          nu -n -c "overlay use action.nu; build ffi aarch64-apple-darwin x86_64-apple-darwin"
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.12
      - if: "matrix.os == 'windows-latest'"
        run: |
          nu -n -c "overlay use action.nu; rustup override set 1.75.0; build ffi --ignore-rust-version x86_64-pc-windows-msvc i686-pc-windows-msvc"
      - if: "matrix.os == 'ubuntu-22.04'"
        run: |
          sudo snap install zig --classic --beta
          nu -n -c "overlay use action.nu; build ffi x86_64-unknown-linux-gnu"
        env:
          # RUSTFLAGS: '-C strip=debuginfo'
      - if: "matrix.os == 'ubuntu-22.04-arm'"
        run: |
          sudo snap install zig --classic --beta
          nu -n -c "overlay use action.nu; build ffi aarch64-unknown-linux-gnu"
        env:
          # RUSTFLAGS: '-C strip=debuginfo'
      - uses: softprops/action-gh-release@v1
        with:
          files: |
            ipmb-ffi/*.zip
            target/*.zip
            target/*.pdb
            target/*.so.dwp
